* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a3a3a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  width: 50%;
  height: auto;
  min-height: 200px;
  background-color: #07090c;
  background: linear-gradient(to bottom right, #0D1117, #0D1117, #03263c, #0D1117, #0D1117);
  padding: 8px;

  & p {
    margin: 8px 0;
  }


  & img {
    height: 90px;
    width: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}